<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ msg('svgtranslate') }}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}">
    </head>
    <body>
    <div class="container">
        <div class="row justify-content-center header pt-5">
            <div class="col-sm-10 pt-5">
                <div class="row">
                    <header class="col">
                        <h1>{{ msg('svgtranslate') }}</h1>
                        <p>{{ msg('info') }}</p>

                        <p>{{ msg('beta') }} <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech/SVG_translation">{{ msg('learn-more') }}</a></p>
                    </header>
                    <nav class="col">
                        {% if logged_in_user() %}
                            {{ msg( 'logged-in-as', [ logged_in_user().username ] ) }}
                            <a href="{{ path('toolforge_logout') }}">{{ msg('logout') }}</a>
                        {% else %}
                            <a href="{{ path('toolforge_login') }}" id="login">{{ msg('login') }}</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>

        <div class="tool row justify-content-center header mt-4">
            <div class="col-sm-10 pt-5 pb-5">
                <main id="select-form">{% block main %}{% endblock %}</main>
            </div>
        </div>

        <div class="tutorial row justify-content-center header mt-5 mb-5">
            <div class="col-sm-12">
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-sm-10 pt-2 pb-2">
                <div class="row">
                    <div class="col">
                        <img src="themes/wikimediaui/images/icons/logo-Wikimedia-Commons.svg" alt="">
                        <h5>{{ msg('pick-an-image') }} <span>&rarr;</span></h5>
                        <p>{{ msg('pick-an-image-more') }}</p>
                    </div>
                    <div class="col">
                        <img src="themes/wikimediaui/images/icons/language.svg" alt="">
                        <h5>{{ msg('translate-labels') }} <span>&rarr;</span></h5>
                        <p>{{ msg('translate-labels-more') }}</p>
                    </div>
                    <div class="col"><img src="themes/wikimediaui/images/icons/download.svg" alt="">
                        <h5>{{ msg('update-commons') }}</h5>
                        <p>{{ msg('update-commons-more') }}</p>
                    </div>
                </div>
            </div>
        </div>

        <footer class="row mt-5 pt-2 pb-2 justify-content-center">
            <div class="col-sm-10">
                <div class="row align-items-baseline justify-content-between">
                    <div class="col-sm-auto align-self-left">
                        <a href="https://tools.wmflabs.org/">
                            <img class="toolforge-logo" src="https://tools-static.wmflabs.org/toolforge/banners/Powered-by-Toolforge.png" alt="{{ msg('powered-by-toolforge') }}">
                        </a>
                    </div>
                    <div class="col-sm-auto text-right">
                        <p>
                            {{ msg( 'made-by', ['<a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech">'~msg('commtech')~'</a>'] ) }}
                        </p>
                        <p>
                            {{ msg( 'licenced-under', ['<a href="https://www.gnu.org/licenses/gpl-3.0.html">'~msg('gpl3')~'</a>'] ) }}
                            <span> &middot; </span><a href="https://github.com/wikimedia/SVGTranslate">{{ msg('view-on-github') }}</a>
                            <span> &middot; </span><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Non-wiki_privacy_policy">{{ msg('privacy-policy') }}</a>
                            {% set issue_template %}
==== What is the problem?


==== Steps to reproduce problem
1.
2.
3.

**Expected behavior:**
**Observed behavior:**

==== Environment
**Operating system:**
**Browser:**
**Wiki(s):**
**Editor, if applicable:**

==== Screenshots (if applicable):

                            {% endset %}
                            <span> &middot; </span><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=%5BBUG%5D%20...&description={{ issue_template|escape('url') }}&projects=community-tech,svg_translate_tool&priority=triage">{{ msg('report-a-bug') }}</a>
                            &middot; <a href="#">{{ msg('help') }}</a> </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>{# .container #}
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>
