<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
    <head>
        <meta charset="utf-8">
        <title>{{ msg('svgtranslate') }}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" />
    </head>
    <body>
        <header>
            <nav class="user">
                <ul class="inline-list">
                    {% if logged_in_user() %}
                        <li>{{ msg( 'logged-in-as', [ logged_in_user().username ] ) }}</li>
                        <li><a href="{{ path('toolforge_logout') }}">{{ msg('logout') }}</a></li>
                    {% else %}
                        <li><a href="{{ path('toolforge_login') }}">{{ msg('login') }}</a></li>
                    {% endif %}
                </ul>
            </nav>
            <h1>{{ msg('svgtranslate') }}</h1>
            <p class="info">{{ msg('info') }}</p>
            <p class="beta-message">
                {{ msg('beta') }}
                <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech/SVG_translation">{{ msg('learn-more') }}</a>
            </p>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <aside class="tutorial">
            <ol>
                <li>
                    <p class="image"><img src="{{ asset('assets/images/logo-Wikimedia-Commons.svg') }}" alt="{{ msg('commons-logo-alt') }}" /></p>
                    <p class="words"><strong>{{ msg('pick-an-image-title') }}</strong><span>{{ msg('pick-an-image-desc') }}</span></p>
                    <p class="arrow">&rarr;</p>
                </li>
                <li>
                    <p class="image"><img src="{{ asset('assets/images/language.svg') }}" alt="{{ msg('language-icon-alt') }}" /></p>
                    <p class="words"><strong>{{ msg('translate-labels-title') }}</strong><span>{{ msg('translate-labels-desc') }}</span></p>
                    <p class="arrow">&rarr;</p>
                </li>
                <li>
                    <p class="image"><img src="{{ asset('assets/images/download.svg') }}" alt="{{ msg('download-icon-alt') }}" /></p>
                    <p class="words"><strong>{{ msg('update-commons-title') }}</strong><span>{{ msg('update-commons-desc') }}</span></p>
                </li>
            </ol>
        </aside>

        <footer>
            <p class="toolforge">
                <a href="https://tools.wmflabs.org/">
                    <img class="toolforge-logo" src="https://tools-static.wmflabs.org/toolforge/logos/anvil-64.png" alt="{{ msg('toolforge-logo-alt') }}" width="64" height="48" />
                    <span>{{ msg('powered-by-toolforge') }}</span>
                </a>
            </p>
            <div class="info">
                <p>
                    <a href='https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech'>{{ msg( 'developed-by' ) }}</a>
                </p>
                <ul class="inline-list">
                    <li><a href="https://www.gnu.org/licenses/gpl-3.0.html">{{ msg( 'licenced-under' ) }}</a></li>
                    <li><a href="https://github.com/wikimedia/svgtranslate">{{ msg('view-source') }}</a></li>
                    <li><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Non-wiki_privacy_policy">{{ msg('privacy-policy') }}</a></li>
                    {% set issue_template %}
==== What is the problem?


==== Steps to reproduce problem
1.
2.
3.

**Expected behavior:**
**Observed behavior:**

==== Environment
**Operating system:**
**Browser:**
**Wiki(s):**
**Editor, if applicable:**

==== Screenshots (if applicable):

                    {% endset %}
                    <li><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=%5BBUG%5D%20...&description={{ issue_template|escape('url') }}&projects=community-tech,svg_translate_tool&priority=triage">{{ msg('report-issue') }}</a></li>
                    <li><a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech/SVG_translation">{{ msg('help') }}</a></li>
                </ul>
            </div>
        </footer>

    <script type="text/javascript">
        var appConfig = {
            assetsPath: "{{ asset('assets') }}",
            {# This var is used for the Universal Language Selector. #}
            languages: {{ all_langs()|json_encode|raw }}
        };
    </script>
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>
