<!DOCTYPE html>
<html lang="{{ lang() }}" dir="{% if is_rtl() %}rtl{% else %}ltr{% endif %}">
    <head>
        <meta charset="utf-8">
        <title>
            {% if title is defined %}{{ title }} | {% endif %}
            {{ msg('svgtranslate') }}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ asset('assets/app.css') }}" />
    </head>
    <body class="{{ page_class }}">
        <header>
            <div class="top-row">
                <div class="top-row-left">{% block top_row_left %}{% endblock %}</div>
                <nav class="user">
                    <ul class="inline-list">
                        {% if logged_in_user() %}
                            <li>{{ msg( 'logged-in-as', [ logged_in_user().username ] ) }}</li>
                            <li><a href="{{ path('toolforge_logout') }}">{{ msg('logout') }}</a></li>
                        {% else %}
                            <li>
                                <a href="{{ path( 'toolforge_login', {'callback': url( 'toolforge_oauth_callback', {'redirect': app.request.uri} ) } ) }}">
                                    {{ msg('login') }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            <div class="description">{% block description %}{% endblock %}</div>
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        {% block prefooter %}{% endblock %}
        <footer>
            <p class="toolforge">
                <a href="https://toolforge.org/">
                    <img class="toolforge-logo" src="https://tools-static.wmflabs.org/toolforge/logos/anvil-64.png" alt="{{ msg('toolforge-logo-alt') }}" width="64" height="48" />
                    <span>{{ msg('powered-by-toolforge') }}</span>
                </a>
            </p>
            <div class="info">
                <ul class="inline-list">
                    <li><a href="https://github.com/wikimedia/svgtranslate/releases/tag/{{ git_tag() }}" title="{{ msg( 'git-hash', [ git_hash_short() ] ) }}">{{ msg( 'version', [ git_tag() ] ) }}</a></li>
                    <li><a href='https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech'>{{ msg( 'developed-by' ) }}</a></li>
                </ul>
                <ul class="inline-list">
                    <li><a href="https://www.gnu.org/licenses/gpl-3.0.html">{{ msg( 'licenced-under' ) }}</a></li>
                    <li><a href="https://github.com/wikimedia/svgtranslate">{{ msg('view-source') }}</a></li>
                    <li><a href="https://foundation.wikimedia.org/wiki/Special:MyLanguage/Non-wiki_privacy_policy">{{ msg('privacy-policy') }}</a></li>
                    {% set issue_template %}
==== What is the problem?


==== Steps to reproduce problem
1.
2.
3.

**Expected behavior:**
**Observed behavior:**

==== Environment
**Operating system:**
**Browser:**
**Wiki(s):**
**Editor, if applicable:**

==== Screenshots (if applicable):

                    {% endset %}
                    <li><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?title=%5BBUG%5D%20...&description={{ issue_template|escape('url') }}&projects=community-tech,svg_translate_tool&priority=triage">{{ msg('report-issue') }}</a></li>
                    <li><a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech/SVG_translation">{{ msg('help') }}</a></li>
                    <li><a href="https://translatewiki.net/wiki/Special:Translate/svgtranslate">{{ msg('translatewiki') }}</a></li>
                </ul>
            </div>
        </footer>
    <script type="text/javascript">

        {# Matomo usage tracking #}
        {% if 'svgtranslate.toolforge.org' == app.request.HttpHost %}
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.wikimedia.org/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '20']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
        {% endif %}

        var appConfig = {
            baseUrl: "{{ asset('') }}",
            wikiUrl: "{{ wiki_url }}",
            assetsPath: "{{ asset('assets') }}",
            {# This var is used for the Universal Language Selector. #}
            languages: {{ all_langs()|json_encode|raw }},
            loggedIn: {{ logged_in_user() ? true : false|json_encode|raw }}
        };
        {% block script %}{% endblock %}
    </script>
    <script type="text/javascript" src="{{ asset('assets/app.js') }}"></script>
    </body>
</html>
