{% extends 'base.html.twig' %}

{% block top_row_left %}
    <h1>{{ msg('svgtranslate') }}</h1>
{% endblock %}

{% block description %}
    <p>{{ msg('info') }}</p>
    <p>
        {{ msg('beta') }}
        <a href="https://meta.wikimedia.org/wiki/Special:MyLanguage/Community_Tech/SVG_translation">{{ msg('learn-more') }}</a>
    </p>
{% endblock %}

{% block main %}

    <div class="search-form">{{ form|raw }}</div>

{% endblock %}
