{% extends 'base.html.twig' %}

{% block top_row_left %}
    <p><a href="{{ path('home') }}">{{ msg('pick-another') }}</a></p>
{% endblock %}

{% block description %}
    <h1>{{ title }}</h1>
    <p>
        <a href="https://commons.wikimedia.org/wiki/File:{{ filename }}" target="_blank"
           title="{{ msg('opens-in-new-tab') }}">{{ msg('view-on-commons') }}</a>
    </p>
{% endblock %}

{% block main %}

    {# The upload-URL will be the first and only element in the flash messages. #}
    {% set uploadUrl = app.session.flashbag.get('upload-complete') %}
    {% if uploadUrl %}
        <aside class="upload-complete">
            <h3>{{ msg('upload-complete') }}</h3>
            <p>{{ msg('upload-complete-message', [filename]) }}</p>
            <p class="buttons">
                <a href="{{ uploadUrl.0 }}">{{ msg('upload-complete-commons') }}</a>
                <a href="{{ path('home') }}">{{ msg('upload-complete-translate-another') }}</a>
            </p>
        </aside>
    {% endif %}

    <form action="{{ path('updownload', {filename: filename}) }}" method="post">
        <input type="hidden" name="target-lang" value="{{ target_lang }}" />
        <div class="form-column">
            {{ language_selectors|raw }}
            <div class="translation-fields">
                {% for field in fields %}
                    {{ field|raw }}
                {% endfor %}
            </div>
        </div>
        <div class="image-column">
            <div class="buttons">
                {{ upload_button|raw }}
                <span class="download-or-upload">{{ msg('download-or-upload') }}</span>
                {{ download_button|raw }}
            </div>
            <div class="image" id="translation-image">
                <img src="{{ path('api_file', {filename: filename, lang: target_lang}) }}"
                     alt="{{ msg('translation-image-alt') }}"
                     data-filename="{{ filename }}" />
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
appConfig.translations = {{ translations|json_encode|raw }};
{% endblock %}
