{% extends 'base.html.twig' %}

{% block top_row_left %}
    <p><a href="{{ path('home') }}">{{ msg('pick-another') }}</a></p>
{% endblock %}

{% block description %}
    <h1>{{ filename }}</h1>
    <p>
        <a href="https://commons.wikimedia.org/wiki/File:{{ filename }}" target="_blank"
           title="{{ msg('opens-in-new-tab') }}">{{ msg('view-on-commons') }}</a>
    </p>
{% endblock %}

{% block main %}
    <form action="{{ path('translate', {filename: filename}) }}" method="post">
        <div class="form-column">
            {{ language_selectors|raw }}
            <div class="translation-fields">
                {% for field in fields %}
                    {{ field|raw }}
                {% endfor %}
            </div>
        </div>
        <div class="image-column">
            <div class="buttons">
                {{ upload_button|raw }}
                <span class="download-or-upload">{{ msg('download-or-upload') }}</span>
                {{ download_button|raw }}
            </div>
            <div class="image">
                <img src="{{ path('api_file', {filename: filename, lang: target_lang}) }}" alt="{{ msg('translation-image-alt') }}" />
            </div>
        </div>
    </form>
{% endblock %}

{% block script %}
appConfig.translations = {{ translations|json_encode|raw }};
{% endblock %}
